@charset "UTF-8";

.mypage-main-div { /* main 전체 div */
	width: 1000px;
	height: 550px;
	background-color: #f7f7f7;
	padding-bottom: 85px;
	padding-top: 85px;
	margin: auto;
}

.mypage-subsum-div { /* main 전체 아래 내용 합친 div */
	height: 390px;
}

.mypage-top-div { /* mypage top div틀 */
	width: 780px;
	height: 190px;
	background-color: white;
	margin: auto;
	margin-bottom: 10px;
}

.mypage-top-div-sub1 { /* mypage top div top left */
	width: 190px;
	height: 100%;
	background-color: white;
	float: left;
	margin: 0 2px 0 0;
	border: 2.5px solid #00ffff;
}

.mypage-top-div-sub1-content { /* mypage top div top left content */
	
}
.mypage-top-div-id {
	width: 100%;
	height: 
}

.mypage-top-div-sub2 { /* mypage top div top right */
	width: 585px;
	height: 100%;
	background-color: white;
	float: left;
}
.mypage-top-div-sub2-content { /* mypage top div top right content */
	width: 113px;
	height: 100%;
	background-color: white;
	float: left;
	margin: 0 2px 0 2px;
	border: 2.5px solid #00ffff;
}

.mypage-bot-div {
	width: 780px;
	height: 190px;
	background-color: white;
	margin: 0 auto;
}
.mypage-bot-div-sub1, .mypage-bot-div-sub2, .mypage-bot-div-sub3, .mypage-bot-div-sub4 {
	width: 190px;
	height: 100%;
	background-color: white;
	float: left;
	margin: 0 2px;
	border: 2.5px solid #00ffff;
}